.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons a {
  margin-left: 25px;
}

.screen-header__link {
  position: relative;
  /* color: #2e363e; */
}

.screen-header__ellipsis-notification {
  background-color: tomato;
  color: rgba(0, 0, 0, 0);
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  left: 22px;
  bottom: 22px;
}
